.footer {
  background: #3c3c3b;
  padding: 60px;
  margin-top: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.footer * {
  color: #fff;
}

.copyright {
  text-align: center;
  font-size: 2.2rem;
  margin-bottom: 30px;
}
.social-networks {
  text-align: center;
}

.social-networks a {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #50504f;
  margin: 0 10px;
  text-decoration: none;
  font-size: 2.4rem;
  line-height: 2.45;
}
